<mat-card>
  <mat-card-content>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <h2>Prijava</h2>
      <mat-error *ngIf="!loginValid">
        Vaša email adresa ili lozinka nisu ispravni.
      </mat-error>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="username" name="username" required email>
        <mat-error>
          Molimo Vas unesite validnu email adresu
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Lozinka" [(ngModel)]="password" name="password" required>
        <mat-error>
          Molimo Vas unesite validnu lozinku
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Prijavi se</button>
    </form>
  </mat-card-content>
</mat-card>
